<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:flex="http://www.springframework.org/schema/flex"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-2.5.xsd  
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
	http://www.springframework.org/schema/flex 
	http://www.springframework.org/schema/flex/spring-flex-1.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-2.5.xsd">
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager"></property>
		<property name="loginUrl" value="/forward/login.do"></property>
		<property name="unauthorizedUrl" value="/forward/login.do"></property>
		<property name="successUrl" value="/forward/index.do"></property>
		<property name="filterChainDefinitions">
			<value>
				/forward/login.do = anon
				/login.jsp = anon
				/login/login.do = anon
				/login/showHow.do = anon
				/ws/** = anon
				/lbClassicStatus/** = anon
				/resources/** = anon
				/engine/** = anon
				/services/** = anon
				/logout = logout
				/** = authc
			</value>
		</property>
	</bean>
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="shiroDbRealm"></property>
		<property name="cacheManager" ref="shiroCacheManager"></property>
		<!-- <property name="sessionManager" ref="sessionManager"></property> -->
	</bean>
	<!-- <bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager"> 
		<property name="globalSessionTimeout" value="1800000"></property> <property 
		name="sessionDAO" ref="customShiroSessionDao"></property> </bean> <bean id="customShiroSessionDao" 
		class="com.winning.kbms.core.dao.impl.CustomShiroSessionDaoImpl"> <property 
		name="shiroSessionRepository" ref="shiroSessionRepository"></property> </bean> 
		<bean id="shiroSessionRepository" class="com.winning.kbms.core.repositorys.CacheShiroSessionRepository"> 
		</bean> -->


	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"></bean>
	<bean
		class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"
		depends-on="lifecycleBeanPostProcessor">
		<property name="proxyTargetClass" value="true" />
	</bean>
	<bean
		class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
		<property name="securityManager" ref="securityManager" />
	</bean>

	<bean id="shiroDbRealm" class="com.winning.kbms.core.service.impl.ShiroDbRealm">
	</bean>

	<bean id="shiroCacheManager" class="com.winning.kbms.core.cache.ShiroCacheManager"></bean>
</beans>